<div class="content">
  <app-warehouse-tabs [selectedWarehouse]="selectedWarehouse"
                      (selectedWarehouseChange)="setSelectedWarehouse($event)">
  </app-warehouse-tabs>

  <app-supply-controls [selectedSupply]="selectedSupply"
                       (selectedSupplyChange)="onSupplyChange($event)"
                       (openPopup)="openPopup()"
                       (goToCatalog)="goToCatalog()">
  </app-supply-controls>

  <app-info-cards-wrapper [item]="selectedItem"
                          (onClose)="closeInfoCards()">
  </app-info-cards-wrapper>

  <app-catalog></app-catalog>

  <app-warehouse-table [data]="tableData"
                       (onSettingsClick)="handleSettingsClick($event)">
  </app-warehouse-table>

  <ng-container *ngIf="showPopup">
    <app-popup (onAddItem)="onAddItem($event)"
               (onClose)="closePopup()">
    </app-popup>
  </ng-container>
</div>
