<app-warehouse-tabs [selectedTab]="selectedTab"
                    (selectedTabChange)="setSelectedTab($event)">
</app-warehouse-tabs>

<app-supply-controls [(selectedSupply)]="selectedSupply"
                     (goToCatalog)="goToCatalog()"
                     (addSupply)="openNewProductPopup()">
</app-supply-controls>

<app-new-product *ngIf="showPopup"
                 (onSubmit)="onNewProductSubmit($event)"
                 (onCancel)="showPopup = false">
</app-new-product>

<app-info-cards-wrapper *ngIf="selectedSupply !== 'catalog' && selectedItem"
                        [item]="selectedItem"
                        (onClose)="closeInfoCards()">
</app-info-cards-wrapper>

<!-- Таблица Поставок -->
<app-supply-table *ngIf="selectedSupply === 'supplies'"
                  [data]="supplyData"
                  (onAddSupply)="openNewProductPopup()"
                  (onSettingsClick)="handleSettingsClick($event)">
</app-supply-table>

<!-- Таблица Остатков -->
<app-stock-table *ngIf="selectedSupply === 'stock'"
                 [data]="stockData"
                 (onSettingsClick)="handleSettingsClick($event)">
</app-stock-table>

<!-- Таблица Каталога -->
<app-catalog-table *ngIf="selectedSupply === 'catalog'"
                   [data]="catalogData">
</app-catalog-table>
