<div class="popup-backdrop">
  <div class="popup-content">
    <button class="close-btn" (click)="closePopup()">×</button>
    <h2>Добавить товар</h2>
    <form (ngSubmit)="handleSubmit()">
      <div class="input-container">
        <label>Название товара</label>
        <input
          type="text"
          [(ngModel)]="name"
          (input)="updateSuggestions()"
          name="name"
          autocomplete="off"
          required
        />
        <div
          class="suggestions-container"
          *ngIf="suggestedNames.length > 0 && !isSuggestionSelected"
        >
          <div
            class="suggestion-item"
            *ngFor="let suggestion of suggestedNames"
            (click)="handleSuggestionSelect(suggestion)"
          >
            {{ suggestion.name }}
          </div>
        </div>
      </div>

      <div class="input-container" *ngIf="isSuggestionSelected">
        <label>Кол-во товара</label>
        <input type="number" [(ngModel)]="stock" name="stock" required />
      </div>

      <div class="input-container" *ngIf="isSuggestionSelected">
        <label>Срок годности</label>
        <input
          type="date"
          [(ngModel)]="expiryDate"
          name="expiryDate"
          required
        />
      </div>

      <div class="popup-buttons">
        <button type="button" class="cancel-btn" (click)="closePopup()">
          Отмена
        </button>
        <button
          *ngIf="isSuggestionSelected"
          type="submit"
          class="save-btn"
          [disabled]="!stock || !expiryDate"
        >
          Сохранить
        </button>
      </div>
    </form>
  </div>
</div>
