.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  height: 139px;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e6e6e6;
}

.top-bar-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.restaurant-info {
  display: flex;
  flex-direction: column;
  color: #333;
}

  .restaurant-info h1 {
    font-size: 24px;
    margin: 0;
  }

  .restaurant-info p {
    font-size: 14px;
    color: #4caf50;
    margin: 0;
  }

.inner-container {
  display: flex;
  align-items: center;
}

.date {
  font-size: 14px;
  color: #8c8c8c;
  margin-right: 20px;
}

.separator {
  width: 1px;
  height: 24px;
  background-color: #ccc;
  margin: 0 10px;
}

.name {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px 0 0; /* иконка и текст чуть ближе */
}

.arrow-down {
  width: 12px;
  height: 12px;
  margin: 0 0 0 5px; /* стрелка чуть правее имени */
}
