<div class="custom-table">
  <div class="table-header">
    <div>Дата поставки</div>
    <div>Название</div>
    <div>Стоимость</div>
    <div>Цена за ед.</div>
    <div>Остаток товара</div>
    <div>Кол-во товара в поставке</div>
    <div>Срок годности</div>
    <div>Действия</div>
  </div>

  <div class="table-body">
    <div class="table-row" *ngFor="let item of data; let i = index">
      <div>{{ item.supplyDate }}</div>
      <div class="name-cell">
        <img [src]="getCategoryIcon(item.category)" [alt]="item.category" class="name-icon">
        <span>{{ item.name }}</span>
      </div>
      <div>{{ item.totalCost }}</div>
      <div>{{ item.unitPrice }}</div>
      <div>{{ item.stock }}</div>
      <div>{{ item.stock }}</div>
      <div>{{ item.expiryDate }}</div>
      <div class="actions">
        <div class="icons-container">
          <img src="assets/plus.svg" alt="Добавить" class="action-icon">
          <img src="assets/minus.svg" alt="Редактировать остаток" class="action-icon" (click)="handleEditStockClick(i, item.stock)">
          <img src="assets/settings.svg" alt="Настройки" class="action-icon" (click)="handleSettingsClick(item, $event)">
        </div>
      </div>
    </div>
  </div>
</div>
