<div class="table-wrapper square no-shadow">
  <table class="custom-table tbl-compact">
    <thead>
      <tr>
        <th>Дата поставки</th>
        <th>Название</th>
        <th>Стоимость</th>
        <th>Цена за ед.</th>
        <th>Остаток товара</th>
        <th>Кол-во товара в поставке</th>
        <th>Срок годности</th>
        <th style="width:44px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let i = index">
        <td>{{ item.supplyDate }}</td>
        <td>
          <div class="name-cell">
            <img [src]="getCategoryIcon(item.category)"
                 [alt]="item.category"
                 class="name-icon" />
            <span>{{ item.name }}</span>
          </div>
        </td>
        <td>{{ item.totalCost }}</td>
        <td>{{ item.unitPrice }}</td>
        <td>{{ item.stock }}</td>
        <td>{{ item.stock }}</td>
        <td>{{ item.expiryDate }}</td>
        <td class="text-right" style="width:44px">
          <button class="icon-btn"
                  type="button"
                  aria-label="Меню"
                  (click)="handleSettingsClick(item, $event)">⋯</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
