<div class="popup-backdrop">
  <div class="popup-content">
    <button class="close-btn" (click)="handleClose()">×</button>
    <h2>Изменить остаток</h2>
    <div class="input-container">
      <label>Новый остаток товара</label>
      <input type="number" [(ngModel)]="stock" required />
    </div>
    <div class="popup-buttons">
      <button class="cancel-btn" (click)="handleClose()">Отмена</button>
      <button class="save-btn" (click)="handleSave()">Сохранить</button>
    </div>
  </div>
</div>
