<!-- Заголовок: поиск + выбор числа строк -->
<div class="table-header">
  <app-table-controls [searchQuery]="searchQuery"
                      [rowsPerPage]="rowsPerPage"
                      (searchQueryChange)="onSearchChange($event)"
                      (rowsPerPageChange)="onRowsChange($event)">
  </app-table-controls>
  <app-catalog-view-switcher [view]="viewMode" (viewChange)="onViewChange($event)"></app-catalog-view-switcher>
  <button class="add-button" (click)="addSupply()">+ Новый товар</button>

</div>

<!-- Горизонтальный скролл для таблицы -->
<div class="table-container">
  <table class="catalog-table">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.label }}</th>

        <th class="actions-header"></th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paginatedData">
        <td *ngFor="let col of columns">{{ format(item[col.key]) }}</td>

        <td class="actions-cell">
          <img src="assets/correct.svg" alt="Редактировать" (click)="edit.emit(item)">
          <img src="assets/delete.svg" alt="Удалить" (click)="requestDelete(item)">
        </td>cd
      </tr>
      <tr *ngIf="paginatedData.length === 0">
        <td [attr.colspan]="columns.length + 1" class="no-data">Нет данных</td>

      </tr>
    </tbody>
  </table>
</div>

<!-- Пагинация -->
<div class="pagination-controls">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Назад</button>
  <span>Страница {{ currentPage }} из {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Далее</button>
</div>

<app-confirm-delete-popup
  *ngIf="showConfirm"
  (confirm)="confirmDelete()"
  (cancel)="cancelDelete()">
</app-confirm-delete-popup>
