<!-- Заголовок: поиск + выбор числа строк -->
<div class="table-header">
  <app-table-controls [searchQuery]="searchQuery"
                      [rowsPerPage]="rowsPerPage"
                      (searchQueryChange)="onSearchChange($event)"
                      (rowsPerPageChange)="onRowsChange($event)">
  </app-table-controls>
  <app-catalog-view-switcher [view]="viewMode" (viewChange)="onViewChange($event)"></app-catalog-view-switcher>
  <button class="add-button" (click)="addSupply()">+ Новый товар</button>

</div>

<!-- Горизонтальный скролл для таблицы -->
<div class="table-container">
  <table class="catalog-table">
    <thead>
      <tr>
        <th>Название</th>
        <th>Категория</th>
        <th>НДС</th>
        <th>Единица измерения</th>
        <th>Цена за единицуя</th>
        <th>Описание</th>
        <th>Требует фасовки</th>
        <th>Портится после вскрытия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paginatedData">
        <td>{{ item.productName }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.taxRate }}</td>
        <td>{{ item.unit }}</td>
        <td>{{ item.unitPrice }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.requiresPackaging }}</td>
        <td>{{ item.supplier }}</td>
      </tr>
      <tr *ngIf="paginatedData.length === 0">
        <td colspan="8" class="no-data">Нет данных</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Пагинация -->
<div class="pagination-controls">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Назад</button>
  <span>Страница {{ currentPage }} из {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Далее</button>
</div>
