<div class="tabs-underline" role="tablist">
  <button
    type="button"
    class="tabs-underline__btn"
    *ngFor="let warehouse of warehouses"
    [class.is-active]="selectedTab === warehouse"
    role="tab"
    [attr.aria-selected]="selectedTab === warehouse"
    (click)="selectTab(warehouse)"
  >
    {{ warehouse }}
  </button>

  <button
    type="button"
    class="tabs-underline__btn tabs-underline__btn--add"
    role="tab"
    aria-selected="false"
    (click)="showNewWarehousePopup = true"
  >
    Добавить склад
  </button>
</div>

<div *ngIf="showNewWarehousePopup" class="popup-backdrop" role="dialog" aria-modal="true">
  <div class="popup-create-storage">
    <h2 class="popup-create-storage__title">Новый склад</h2>
    <input
      type="text"
      [(ngModel)]="newWarehouseName"
      placeholder="Название склада"
      class="popup-create-storage__input"
    >
    <div class="popup-buttons">
      <button type="button" class="popup-button popup-button--cancel" (click)="showNewWarehousePopup = false">Отмена</button>
      <button type="button" class="popup-button popup-button--save" (click)="handleAddWarehouse()">Создать</button>
    </div>
  </div>
</div>
