<div class="content">
  <div class="container" *ngIf="!showNewProductForm" style="justify-content: space-between; padding: 0 20px;">
    <button class="primary-action-btn" (click)="handleAddNewItemClick()">
      + Новый товар
    </button>
  </div>

  <app-new-product *ngIf="showNewProductForm"
                   (onCancel)="handleCancelNewProduct()"
                   (onSubmit)="handleSubmitNewProduct($event)">
  </app-new-product>

  <div class="custom-table" *ngIf="!showNewProductForm">
    <div class="table-header">
      <div>Номер</div>
      <div>Категория</div>
      <div>Название</div>
      <div>Остаток</div>
      <div>Сумма</div>
      <div>Склад</div>
      <div>Срок годности</div>
      <div>Поставщик</div>
    </div>
    <div class="table-body">
      <div class="table-row" *ngFor="let item of catalogData">
        <div>{{ item.id }}</div>
        <div>{{ item.category }}</div>
        <div>{{ item.name }}</div>
        <div>{{ item.stockQuantity | number:'1.0-2' }}{{ item.stockUnit }}</div>
        <div>{{ item.unitPrice | currency:'USD':'symbol-narrow':'1.2-2' }}</div>
        <div>{{ item.warehouse }}</div>
        <div>{{ item.expiryDate | date:'dd/MM/yyyy' }}</div>
        <div>{{ item.supplier }}</div>
      </div>
    </div>
  </div>
</div>
