.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0;
  background-color: #ffffff;
  position: relative;
}

.primary-action-btn {
  background-color: #FA502D;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
}

  .primary-action-btn:hover {
    background-color: #e64827;
  }

.custom-table {
  width: 100%;
  background-color: #ffffff;
  box-shadow: none;
  border-collapse: collapse;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  height: 60px;
}

  .table-header div {
    font-size: 18px;
    font-weight: 700;
    color: #000;
  }

  .table-header div,
  .table-row div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    font-size: 14px;
    color: #666;
  }

  .table-row:nth-child(even) {
    background-color: #f9f9f9;
  }
