<div class="sidebar">
  <ul class="nav-list">
    <li class="nav-item">
      <app-icon [name]="icons.warehouse"></app-icon>
      Главный склад
    </li>
    <li class="nav-item">
      <app-icon [name]="icons.catalog"></app-icon>
      Каталог
    </li>
    <li class="nav-item">
      <app-icon [name]="icons.analytics"></app-icon>
      Аналитика
    </li>
    <li class="nav-item">
      <app-icon [name]="icons.delivery"></app-icon>
      Поставки
    </li>
    <li class="nav-item">
      <app-icon [name]="icons.orders"></app-icon>
      Заказы
    </li>
    <li class="nav-item">
      <app-icon [name]="icons.settings"></app-icon>
      Настройки
    </li>
    <li class="nav-item logout">
      <app-icon [name]="icons.logout"></app-icon>
      Выход
    </li>
  </ul>
</div>
