<div class="sidebar">
  <ul class="nav-list">
    <li class="nav-item">
      <mat-icon>{{ icons.warehouse }}</mat-icon>
      Главный склад
    </li>
    <li class="nav-item">
      <mat-icon>{{ icons.catalog }}</mat-icon>
      Каталог
    </li>
    <li class="nav-item">
      <mat-icon>{{ icons.analytics }}</mat-icon>
      Аналитика
    </li>
    <li class="nav-item">
      <mat-icon>{{ icons.delivery }}</mat-icon>
      Поставки
    </li>
    <li class="nav-item">
      <mat-icon>{{ icons.orders }}</mat-icon>
      Заказы
    </li>
    <li class="nav-item">
      <mat-icon>{{ icons.settings }}</mat-icon>
      Настройки
    </li>
    <li class="nav-item logout">
      <mat-icon>{{ icons.logout }}</mat-icon>
      Выход
    </li>
  </ul>
</div>
