<div class="sidebar">
  <ul class="nav-list">
    <li class="nav-item">
      <mat-icon [fontIcon]="icons.warehouse"></mat-icon>
      Главный склад
    </li>
    <li class="nav-item">
      <mat-icon [fontIcon]="icons.catalog"></mat-icon>
      Каталог
    </li>
    <li class="nav-item">
      <mat-icon [fontIcon]="icons.analytics"></mat-icon>
      Аналитика
    </li>
    <li class="nav-item">
      <mat-icon [fontIcon]="icons.delivery"></mat-icon>
      Поставки
    </li>
    <li class="nav-item">
      <mat-icon [fontIcon]="icons.orders"></mat-icon>
      Заказы
    </li>
    <li class="nav-item">
      <mat-icon [fontIcon]="icons.settings"></mat-icon>
      Настройки
    </li>
    <li class="nav-item logout">
      <mat-icon [fontIcon]="icons.logout"></mat-icon>
      Выход
    </li>
  </ul>
</div>
